:root {
    --color-text: black;
    --color-app-background: #224522;
    --color-element-background: #f8f5e7;
    --color-element-header-background: #242;
    --color-section-background: #e6ddc7;
    --color-title-background: #670000;
    --line-height: 1.5em;
}