@import './base.css';

#app {
    display: flex;
    flex-flow: column;
    font-weight: normal;
    height: 100%;
    padding: 0 2rem;
    width: calc(100% - 4rem);
}

body {
    background: var(--color-app-background);
    color: var(--color-text);
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    height: 100%;
    line-height: var(--line-height);
    margin: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    height: 100%;
}